
body{
	margin:10px;
	padding:30px;
  font-size:150%;
  background-image: url("../images/black_and_white.jpg");
}

h1{
	font-size: 75px; 
  font-weight: bolder;
  text-align: center;
  padding-top: 10px;
}

title{
  text-align: center;
}

.nav_links {
  background-color: #f7c2c2;
  border: 2px solid #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  justify-items: center;
}

.nav_links a:hover{
  font-weight: bolder;
}

.nav_links .current{
  font-weight: bolder;
  background-color: #f5758a;
  text-transform: uppercase;
}

main img{
  margin: auto;
  display: block;
}

.nav_links .nav_items{
  color: #000000;
}

p{
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.container{
  display: grid;
  grid-template-rows: auto auto auto auto;
  justify-items: center;
}

.flip-container{
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  margin: auto;
  display: block;
}

.item1{
  grid-row: 1/5;
  text-align: center;
}

footer{
  padding-top: 10px;
  margin: 10px;
}

.item img{
  height: 300px;
  width: 250px;
  border: 2px solid #000000;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  display: block;
}

.flip-box-front img{
  /* height: 400px; */
  width: auto;
  border: 2px solid #000000;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  display: block;

}

img{
  height: 400px;
  width: auto;
  border: 2px solid #000000;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.skip{
  background: #ffffff;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
  }
  
.skip:focus {
  position: absolute;
  top: 20px
}
  
.nav_links :visited{
  color: #000000;
}

a:visited{
  color: #0000ff;
}

.flip-box {
  background-color: transparent;
  width: auto;
  /* height: 400px; */
  margin: auto;
  display: block;
}

.flip-container h2{
  font-size: 25px;
  padding-top: 10px;
  /* padding-bottom: 10px; */
  font-weight: bolder;
  color:#000000;
  text-align: center;
}

.flip-container p{
  font-size: 18px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-right: 30px;
  padding-left: 10px; */
  text-align: center;
}

.flip-box-back a{
  font-size: 16px;
  /* padding-right: 30px;
  padding-left: 10px; */
  padding-bottom: 25px;
  text-align: center;
  align-content: center;
  margin: auto;
  display: block;
}
  
/* .flip-box-inner {
  position: relative;
  width: 400px;
  height: 400px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
  
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}
  
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 400px;
  height: 400px;
  backface-visibility: hidden;
}

.flip-box-back h2{
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
  color:#000000;
}
  
.flip-box-back p{
  font-size: 24px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 10px;
}

.flip-box-back a{
  font-size: 20px;
  padding-right: 30px;
  padding-left: 10px;

}

.flip-box-back {
  background-color: #f7c2c2;
  color: #000000;
  transform: rotateY(180deg);
} */
